---
layout: default
---

<div class="post">
  {% if page.image %}
    <img src="{{ page.image }}" width="720"></img>
  {% endif %}
  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="post-description">{{ page.description }}</h3>
  <span class="page-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  <span class="post-tags">tagged: 
    {%- for tag in page.tags -%}
      <a href="/tags/#{{- tag -}}">&nbsp;{{- tag -}}</a>{%- unless forloop.last -%},{% endunless %}
    {%- endfor -%}
  </span>
</div>


{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Other recent posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    {% unless post.hidden %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>
{% endif %}
